*{
  box-sizing: border-box;
}
body {
  font-family: "Libre Franklin", "Helvetica", "sans-serif";
  height: 100%;
  width: 100%;
}
img {
  width: 100%;
  display: block;
}
.navbar {
  width: 100%;
  height: 100px;
  background: #F55E05;
  position: relative;

}
.logo {
  width: 10%;
  height: 100%;
  vertical-align: center;
  position: relative;
  left: 0

}

.logo .image {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 25%;
  top: 25%;

}

.navbar .links {
  color: white;
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
  height: 100%;
  vertical-align: center;
  display: inline-block;
  text-align: center;
  align-content: center;
}

.links .link {
  display: inline-block;
  position: relative;
  top: 0;
  height: 100%;
  width: 30%;
}
.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 1px solid #F55E05;
  color: white;
  font-size: 14px;

}
.button:hover {
  background: transparent;
  border: 1px solid white;
}

#app-container {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
}

#app-container .backdrop{
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../images/hero-splash-roommates-fun.jpg);
  background-size: cover;
}

.chat {
  height: 200px;
  width: 300px;
  margin: 20px 20px;
  background: white;
  border: 6px solid #29BBAF;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.chat .chat-nav{
  height: 33.3%;
  width: 100%;
  background: #B0E6E2;
  border: none;
  text-align: left;
  display: inline-block;
}

.chat .chat-img {
  height: 70%;
  width: 20%;
  display: inline-block;
  padding-left: 20px;
  padding-top: 20px;
}

.chat .chat-content{
  display: inline-block;
  font-size: 16px;
  align-items: center;
  text-align: center;

}
.chat img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.chat a{
  text-decoration: none;
  color: #F55E05;
}

.backdrop .roommates{
  background-color:rgba(0,0,0,.5);
  color: white;
  width: inherit;
  height: 30%;
  text-align: center;
  position: absolute;
  bottom:50%;
  left: 0;
  transform: translateY(48%);
}

.roommates h1{
  margin-bottom: 5px;
}
.roommates h5{
  margin-top: 5px;
}
.search{
  margin-top: 30px;
  display: inline-block;
  width: inherit;
  height: 30%;
}
.search input#searchbox{
  width: 20%;
  height: 80%;
  padding: 0;
  border: 0;
  margin-right: 0;
}
.search button{
  background: #29BBAF;
  font-weight: 200;
  font-family: "sans-serif";
  font-size: 16px;
  color: #ffffff;
  border: 0;
  padding: 0;
  margin-left: -2px;
  width:10%;
  height:80%;
}

.cities {
  width: 100%;
  font-size: 0;
  padding: 20px 10px;
}

.city{
  display: inline-block;
  width: 100%;
  margin-top: 0;
  padding-top: 0;
  color: #ffffff;
}

.nyc{
  display: inline-block;
  width: 25%;
  height: 25%;
  padding: 0 30px
}

.name{
  display: inline-block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: black;
  color: #ffffff;
  padding: 0 0;
  margin: 0 0;
}

.name h3{
  width: 100%;
  height: 100%;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;;
  font-size: 20px;
  font-weight: 200;
  color: white;
  padding: 0 0;
  margin: 0 0;

}

.city-link{
  position: relative;
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 18px;
  font-weight: 600;
}
.city-link .link button{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  width: 10%;
  height: 100%;
  color:#F55E05;
  border-color: #F55E05;
  border-width: 2px;
  border-style: solid;
  line-height: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.gray-container {
  margin-top: 20px;
  width: 100%;
  height: 600px;
  background: lightgray;
  padding: 30px 20px;
  display: inline-block;
  position: absolute;
  text-align: justify;

}

.col-1{
  background: white;
  border: 1px solid black;
  width: 35%;
  height: 90%;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  margin-left: 12%;
  margin-top: 3%;
  line-height: .5;
}
.col-1 img{
  width: 100%;
  height: 65%;
  display: block;
}

.col-1 h4, h2 {
  margin-bottom: auto;
  padding-left: 5%;
}

.col-2{
  font-family: "Libre Franklin", "Helvetica", "sans-serif";
  width: 35%;
  height: 80%;
  display: inline-block;
  text-align: left;
  padding: 0 30px;
  vertical-align: top;
  margin-left: 10%;
  margin-top: 5%;

}
.col-2 h4 {
  padding-left: 20px;
}
.col-2 ul {
  list-style-type: circle;
  font-size: 1em;
  line-height: 2;
}

.footer {
  color: white;
  position: relative;;
  height: 500px;
  width: 103%;
  bottom: -40px;
  background: #333333;
  text-align: left;
  display: inline-block;
  padding: 10px 40px 10px 10px;
  margin-left: -20px;
  margin-right: 0px;
}

.col-3 {
  width: 33%;
  display: inline-block;
  position: relative;
  height: 70%;
  color: white;
  padding: 40px 40px;
}
.col-3 ul{
  padding: 17px;
  line-height: 3;
  list-style-type: none;
  color: #959899;
}
.col-3 hr{
  color: white;
}

.icons {
  width: 100%;
  height: 30%;
  display: inline-block;
  position: relative;;
  text-align: right;
}
.icons .icon {
  padding: 20px 20px;
  display: inline-block;

}
